.modal {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    padding: 20px;
    min-width: 300px;
    height: auto;
    background-color: white;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

fieldset {
    display: flex;
    flex-direction: row;
    border: none;
}

.hide-modal {
    display: none;
}

.show-modal {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 1000;
    margin-right: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: #EB5E28;
}
.button:hover{
    background-color: #e97243;
}
.delete {
    background-color: rgb(255, 29, 29);
}
.delete:hover {
    background-color: rgb(253, 56, 56);
}