<div id="sidebar">
    <app-add-note-dialog (newNoteData)="addNote($event)" #addDialog></app-add-note-dialog>
    <app-rm-note-dialog (returnRm)="rmNote()" #rmDialog></app-rm-note-dialog>
    <div id="date-box">
        <label class="select-label" for="day">Day: </label>
        <select #selectDay id="day" class="select" (input)="this.setDayInput(selectDay)">
            <option value="...">...</option>
            <option *ngFor="let i of days" value="{{i}}">{{i}}</option>
        </select>
        <label class="select-label" for="month">Month: </label>
        <select #selectMonth id="month" class="select" (input)="this.setMonthInput(selectMonth)">
            <option value="...">...</option>
            <option *ngFor="let i of months" value="{{i}}">{{i}}</option>
        </select>
        <label class="select-label" for="year">Year: </label>
        <select #selectYear id="year" class="select year" (input)="this.setYearInput(selectYear)">
            <option value="...">...</option>
            <option *ngFor="let i of years" value="{{i}}">{{i}}</option>
        </select>
    </div>
    <div id="search-box">
        <img id="search-bar-icon" src="../../../assets/search.png" alt="search-icon">
        <input id="search-bar" #searchBarInput (input)="setSearchBarValue(searchBarInput)">
    </div>
    <div id="buttons-box">
        <button class="sidebar-button" (click)="addDialog.open()"><img src="../../../assets/add.png" alt="add-icon"></button>
        <button class="sidebar-button" (click)="rmDialog.open()"><img src="../../../assets/rm.png" alt="remove-icon"></button>
    </div>

    <div id="note-box">
        <select multiple id="note-list">
            <option *ngFor="let item of filteredNoteArray(); index as i" (click)="returnNote(item)">{{item.date}} {{item.title}}</option>
        </select>
    </div>
</div>