<div id="sidebar">
    <app-add-note-dialog (newNoteData)="addNote($event)" #addDialog></app-add-note-dialog>
    <app-rm-note-dialog (returnRm)="rmNote()" #rmDialog></app-rm-note-dialog>
    <div id="date-box">
        <label class="select-label" for="day">Day: </label>
        <div class="select-wrapper">
            <select #selectDay id="day" class="select" size="1" (input)="selectCollapsed(selectDay)" (blur)="selectCollapsed(selectDay)" (focus)="selectExpand(selectDay)" (input)="this.setDayInput(selectDay)">
                <option value="...">...</option>
                <option *ngFor="let i of days" value="{{i}}">{{i}}</option>
            </select>
        </div>
        <label class="select-label" for="month">Month: </label>
        <div class="select-wrapper">
            <select #selectMonth id="month" class="select" size="1" (input)="selectCollapsed(selectMonth)" (blur)="selectCollapsed(selectMonth)" (focus)="selectExpand(selectMonth)" (input)="this.setMonthInput(selectMonth)">>
                <option value="...">...</option>
                <option *ngFor="let i of months" value="{{i}}">{{i}}</option>
            </select>
        </div>
        <label class="select-label" for="year">Year: </label>
        <div class="select-wrapper year">
            <select #selectYear id="year" class="select year" size="1" (input)="selectCollapsed(selectYear)" (blur)="selectCollapsed(selectYear)" (focus)="selectExpand(selectYear)" (input)="this.setYearInput(selectYear)">>
                <option value="...">...</option>
                <option *ngFor="let i of years" value="{{i}}">{{i}}</option>
            </select>
        </div>
    </div>
    <div id="search-box">
        <img id="search-bar-icon" src="../../../assets/search.png" alt="search-icon">
        <input id="search-bar" #searchBarInput (input)="setSearchBarValue(searchBarInput)">
    </div>
    <div id="buttons-box">
        <button class="sidebar-button" (click)="addDialog.open()"><img src="../../../assets/add.png" alt="add-icon"></button>
        <button class="sidebar-button" (click)="rmDialog.open()"><img src="../../../assets/rm.png" alt="remove-icon"></button>
    </div>

    <div id="note-box">
        <table id="note-list">
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
            <tr tabindex="1" class="note-list-item" *ngFor="let item of filteredNoteArray()" (click)="returnNote(item)">
                <td>{{item.date}}</td>
                <td>{{item.title}}</td>
            </tr>
        </table>
    </div>
</div>